{{ form_start(form) }}
    {{form_errors(form)}}
    {% set file = form.vars.data.pictureFile %}
    {% set label = 'Select an image (square).' %}
    {{form_row(form.picture_file, {
        'label': file.filename|default(label),
        'label_attr': {
            'data-label': 'Profile Picture'
        },
        'attr': {
            'data-type': 'image',
            'data-src': file.realPath|default('')|file_relative,
            'data-default-label': label
        }
    })}}
    {{form_widget(form)}}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}