{% extends 'base.html.twig' %}

{% block title %}{{user}}'s player profile{% endblock %}

{% block body %}
    <header>
    {% if profile.picture %}
        {% import '_macros/img.responsive.html.twig' as m_img %}
        {% set img_config = {
            'path': asset('/uploads/pfps/'),
            'file': profile.picture,
            'sizes': '(min-width: 600px) 200px',
            'classNames': 'profile-picture'
        } %}
        {{ m_img.responsive(img_config) }} 
    {% endif %}

    <h1>{{user}}</h1>
    {% if profile.social %}
        <p><small><a href="{{profile.social}}">{{profile.social}}</a></small></p>
    {% endif %}
    </header>

    <main>
    {% if user.teams %}
        <h2>Has appeared in:</h2>
        {% for team in user.teams %}
            <p>{{team.tournament}} on {{team}}</p>
        {% endfor %}
    {% endif %}
    </main>

{% endblock %}