<table>
    <thead>
        <tr>
            <th class="td-index">Rank</th>
            <th>Score</th>
            <th>Player</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
    {% for score in scores %}
        {% set href = path('profile_show', {
            'username': score.user
        }) %}
        <tr>
            <td class="td-index">{{ loop.index }}</td>
            <td class="align-right">{{ score.points|number_format }}</td>
            <td><a href="{{href}}">{{ score.username }}</a></td>
            <td>{{score.completed}} out of {{gameCount}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>