{% extends 'base.html.twig' %}

{% block title %}{{team.tournament.title}} - Team Roster: {{team.name}}{% endblock %}

{% block body %}
    <main>
        <header class="bg-accent padding">
            <h1>
                <span class="block">{{team.name}}</span>
                <small class="block">{{team.tournament.title}}</small>
            </h1>
        </header>

        <section class="margin-y padding">
            <h2>Roster</h2>
            <table>
                <tr>
                    <th class="row-captain">Captain</th>
                    <th>Player</th>
                    <th>Profile</th>
                </tr>
            {% for player in team.members %}
                <tr>
                    <td>{% if player.id in team.captains %}👑{% endif %}</td>
                    <td>{{ player.username }}</td>
                    <td><a href="{{path('user_show', {'id':player.id})}}">👤</a></td>
                <tr>
            {% else %}
                <p>No members assigned to this team.</p>
            {% endfor %}
            </table>
        </section>
    </main>
{% endblock %}

{% block navigation %}
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{path('team_edit', {'id':team.id})}}">Edit</a>
    {% endif %}
{% endblock %}
