{% extends 'base.html.twig' %}

{% block title %}{{team.tournament.title}} - Team Stats: {{team.name}}{% endblock %}

{% block body %}
<header>
    <h1>{{team.name}}<br>
        <small>as seen in 
            <a class="tournament-title" href="{{path('tournament_show', {'id': team.tournament.id})}}">{{ team.tournament.title }}</a>
        </small>
    </h1>
</header>

<main>
<h2 class="page-break">Roster</h2>
{% if team.members|length %}
    <section class="summary-group">
        {% for user in team.members %}
            {{
                include('profile/_summary.html.twig', {
                    'user': user.user
                })
            }}
        {% endfor %}
    </section>
{% else %}
    <p>No team members selected.</p>
{% endif %}

{% if not team.tournament.upcoming %}
    <h2 class="page-break">Stats</h2>
    <section class="column-2">
        {{
            include('_gadgets/points.per.game.html.twig', {
                'scores': points_per_game,
                'tournament': team.tournament,
                'total': team.points
            })
        }}

        {{
            include('_leaderboards/_stats.html.twig', {
                'tournament': team.tournament,
                'users': team.members,
                'show_total': true
            })
        }}
    </section>
{% endif %}
</main>
{% endblock %}

{% block navigation %}
    {% if is_granted("ROLE_TO") %}
        {% set href = path('team_edit', {
            'id': team.id
        }) %}
        <a class="nav-item" href="{{href}}">✏️<span class="nav-item-label">Edit</a>
    {% endif %}
{% endblock %}
