{% extends 'base.html.twig' %}

{% block title %}{{team.tournament.title}} - Team Roster: {{team.name}}{% endblock %}

{% block body %}
    <main>
        <header class="bg-accent padding">
            <h1>
                <span class="block">{{team.name}}</span>
                <small class="block">{{team.tournament.title}}</small>
            </h1>
        </header>

        <section class="margin-y padding">
            <h2>Roster</h2>
            <table class="padding">
                <tr>
                    <th class="text-align-left">Player</th>
                    <th class="row-profile">Profile</th>
                    <th class="row-social">Twitch</th>
                </tr>
            {% for player in team.members %}
                <tr>
                    <td class="text-align-left">{{ player.username }}</td>
                    <td><a class="icon" href="{{path('user_show', {'id':player.id})}}">👤</a></td>
                    <td>
                    {% if player.profile.social %}
                        <a class="icon" target="_blank" href="{{player.profile.social}}" class="icon">{{ source('svg/twitch.svg')|raw }}</a>
                    {% endif %}
                    </td>
                <tr>
            {% else %}
                <p>No members assigned to this team.</p>
            {% endfor %}
            </table>
        </section>
    </main>
{% endblock %}

{% block navigation %}
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{path('team_edit', {'id':team.id})}}">Edit</a>
    {% endif %}
{% endblock %}
