{% extends 'base.html.twig' %}

{% block title %}{{team.tournament.title}} - Team Roster: {{team.name}}{% endblock %}

{% block body %}
    <main>
        <header>
            <h1>{{team.name}}</h1>
                <small class="block"><a class="tournament-title" href="{{path('tournament_show', {'id': team.tournament.id})}}">{{ team.tournament.title }}</a></small>
            </h1>
        </header>

        {% if not team.tournament.isUpcoming %}
            <section>
                {% include 'team/_gadgets/points.per.game.html.twig' %}
            </section>
        {% endif %}

        <section class="margin-y padding">
            {% if (leaderboard) %}
                {{ include('team/leaderboard.html.twig', {'scores':leaderboard,'gameCount':team.tournament.games|length}) }}
            {% endif %}
        </section>
    </main>
{% endblock %}

{% block navigation %}
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{path('team_edit', {'id':team.id})}}">Edit</a>
    {% endif %}
{% endblock %}
