{% extends 'base.html.twig' %}

{% block title %}{{team.tournament.title}} - Team Stats: {{team.name}}{% endblock %}

{% block body %}
<header>
    <h1>{{team.name}}</h1>

    <h2><a class="tournament-title" href="{{path('tournament_show', {'id': team.tournament.id})}}">{{ team.tournament.title }}</a></h2>
</header>

<main>
{% if not team.tournament.isUpcoming %}
    <section class="gadget-group">
        {% include '_gadgets/points.per.game.html.twig' %}
    </section>
{% endif %}

    <section>
        {% if (leaderboard) %}
            {{ include('team/leaderboard.html.twig', {'scores':leaderboard,'gameCount':team.tournament.games|length}) }}
        {% endif %}
    </section>
</main>
{% endblock %}

{% block navigation %}
    {{ parent() }}
    {% if is_granted("ROLE_TO") %}
        <a href="{{path('team_edit', {'id':team.id})}}">Edit</a>
    {% endif %}
{% endblock %}
