{% extends 'base.html.twig' %}

{% block title %}Password Reset{% endblock %}

{% block body %}
<main class="flex-column align-items-center">
    <h1 class="text-align-center">Change your password</h1>

    {{form_start(form)}}

        {{ form_widget(form._token) }}
        {{form_errors(form)}}
        {{ form_widget(form.password)}}

        <button class="margin-y">{{ button_label|default('Reset') }}</button>
    {{ form_end(form, { 'render_rest': false }) }}
</main>
{% endblock %}