{% if stats|length and tournament is defined %}
    {% if show_total is not defined or show_total != false %}
        {% set stats = stats|merge([{
            'name': 'Total',
            'ranked_points': stats|reduce(
                (carry, u) => carry + u.ranked_points
            ),
            'team_points': stats|reduce(
                (carry, u) => carry + u.team_points
            ),
            'completion': scores|length ?
                (scores|length / (users|length * tournament.games|length) * 100)|number_format(0)
                : 0,
            'avg_rank': stats|length ?
                stats|reduce((carry,u) => carry + (u.avg_rank / stats|length))|number_format(0) : 0
        }]) %}
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Ranked Points</th>
                <th>Team Points</th>
                <th>Average Rank</th>
                <th>Completion</th>
            </tr>
        </thead>
        <tbody>
            {% for user in stats %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{user.name}}</td>
                <td class="labeled-data ranked-points">{{user.ranked_points|number_format}}</td>
                <td class="labeled-data team-points">{{user.team_points|number_format}}</td>
                <td class="labeled-data avg-rank">{{user.avg_rank|number_format}}</td>
                <td class="labeled-data completion">{{user.completion|number_format ~ '%'}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}