{% if stats|length and tournament is defined %}
    {% if show_total %}
        {% set scores = team.scores %}
        {% set users = team.members %}
        {% set stats = stats|merge([{
            'name': 'Total',
            'ranked_points': stats|reduce(
                (carry, u) => carry + u.ranked_points
            ),
            'team_points': stats|reduce(
                (carry, u) => carry + u.team_points
            ),
            'completion': scores|length ?
                (scores|length / (users|length * tournament.games|length) * 100)|number_format(0)
                : 0,
            'avg_rank': stats|length ?
                stats|reduce((carry,u) => carry + (u.avg_rank / stats|length))|number_format(0) : 0
        }]) %}
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                {% if not show_total %}
                    <th>Team</th>
                {% endif %}
                <th>Ranked Points</th>
                <th>Team Points</th>
                <th>Average Rank</th>
                <th>Completion</th>
            </tr>
        </thead>
        <tbody>
            {% for user in stats %}
                {% set u_href = path('profile_show', {
                    'username': user.name
                }) %}
                {% if not show_total %}
                    {% set t_href = path('team_show', {
                        'id': user.team_id
                    }) %}
                {% endif %}
            <tr {{loop.last and show_total ? 'class="color-three"'}}>
                <td>{{(not (loop.last and show_total)) ? loop.index}}</td>
                <td><a href="{{u_href}}">{{user.name}}</a></td>
                {% if not show_total %}
                    <td><a href="{{t_href}}">{{user.team}}</a></td>
                {% endif %}
                <td class="labeled-data ranked-points">{{user.ranked_points|number_format}}</td>
                <td class="labeled-data team-points">{{user.team_points|number_format}}</td>
                <td class="labeled-data avg-rank">{{user.avg_rank|number_format}}</td>
                <td class="labeled-data completion">{{user.completion|number_format ~ '%'}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}