<table>
    <thead>
        <h3>All Scores</h3>
        <tr>
            <th>Rank</th>
            {% if not permanent_board is defined %}
                <th>Team</th>
            {% endif %}
            <th>Player</th>
            <th class="text-right">Score</th>
            {% if not permanent_board is defined %}
                <th class="text-right">Ranked Points</th>
                <th class="text-right">Team Points</th>
            {% endif %}
            <th>Record</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
    {% for score in scores %}
        {% if app.user and app.user is same as(score.user) %}
            {% set className = 'highlighted' %}
        {% else %}
            {% set className = '' %}
        {% endif %}
        <tr class="{{className}}" title="{{score.comment|e}}">
            <td>{{ loop.index }}</td>
            {% if not permanent_board is defined %}
                <td><a href="{{path('team_show', {'team': score.team.id})}}">{{score.team.name}}</a></td>
            {% endif %}
            <td><a href="{{path('user_show', {'id': score.user.id})}}">{{ score.user }}</a></td>
            <td class="text-right">{{ score.points|number_format }}</td>
            {% if not permanent_board is defined %}
                <td class="text-right">{{score.rankedPoints}}</td>
                <td class="text-right">{{score.teamPoints}}</td>
            {% endif %}
            <td class="text-center">
                {% if score.screenshot %}
                    <a target="_blank" href="{{'/uploads/screenshots/' ~ score.screenshot}}">📷</a>
                {% endif %}
                {% if score.videoUrl %}
                    <a target="_blank" href="{{score.videoUrl|e}}">📼</a>
                {% endif %}
            </td>
            <td>{{score.comment|e}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>