{% if scores|length %}
<table>
    <thead>
        <tr>
            <th class="td-index">Rank</th>
            <th>Score</th>
            <th>Player</th>
            {% if tournament %}
                {% if tournament.format == 'TEAM' %}
                <th>Team</th>
                <th>Team Points</th>
                {% endif %}
                <th>Ranked Points</th>
            {% endif %}
            <th class="text-right">Record</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
    {% for score in scores %}
        <tr {{ score is same as(user_score) ? 'class="highlighted"'  }}>
            <td class="td-index">{{ loop.index }}{{ score is same as(user_score) ? '<a id="your_score"></a>' }}</td>
            <td>{{ score.points|number_format }}</td>
            <td><a href="{{path('profile_show', {'username': score.user})}}">{{ score.user }}</a></td>
            {% if tournament %}
                {% if tournament.format == 'TEAM' %}
                    <td><a href="{{path('team_show', {'id': score.team.id})}}">{{score.team.name}}</a></td>
                    <td class="text-right labeled-data team-points">{{score.teamPoints}}</td>
                {% endif %}
                <td class="text-right labeled-data ranked-points">{{score.rankedPoints}}</td>
            {% endif %}
            <td class="labeled-data score-recording text-right">
                {% if score.screenshot %}
                    <a target="_blank" href="{{'/uploads/screenshots/' ~ score.screenshot}}">📷</a>
                {% endif %}
                {% if score.videoUrl %}
                    <a target="_blank" href="{{score.videoUrl|e}}">📼</a>
                {% endif %}
                {% if score.replay %}
                    <a target="_blank" href="{{'/uploads/replays/' ~ score.replay}}">📂</a>
                {% endif %}
            </td>
            <td class="{{ not score.comment ? 'comment-empty' }}">{{score.comment|default(' ')|e}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}