{{ form_start(form) }}
    {{form_errors(form)}}
    {% set file = form.vars.data.marqueeFile %}
    {% set label = 'Select an image file (landscape).' %}
    {{ form_row(form.marquee_file, {
        'label': file.filename|default(label),
        'label_attr': {
            'data-label': 'Marquee'
        },
        'attr': {
            'data-type': 'image',
            'data-src': file.realPath|default('')|file_relative,
            'data-default-label': label
        } 
    }) }}

    {{form_rest(form)}}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block javascripts %}
    {{ encore_entry_script_tags('forms') }}
{% endblock %}