{% set tournament = tournament|default(null) %}
{% set high_score = high_score|default(null) %}
{% set user_score = user_score|default(null) %}
{% set game_show = path('game_show', { 'name': game.name }) %}

{% set score_show = tournament ?
    path('score_show', {
        'game_name': game.name,
        'tournament_id': tournament.id
    }) :
    path('pb_show', {
        'game': game.name
    })
%}

{% set score_new = tournament ?
    path('score_new', {
        'game_name': game.name,
        'tournament_id': tournament.id
    }) :
    path('pb_new', {
        'game': game.name
    })
%}

<article class="game-summary">
    {% if game.marquee %}
        {% import '_macros/img.responsive.html.twig' as m_img %}
        {% set img_config = {
            'path': asset('/uploads/marquees/'),
            'file': game.marquee,
            'sizes': '(min-width: 42rem) 20rem, 100vw',
            'classNames': 'marquee'
        } %}

        {{ m_img.responsive(img_config) }}
    {% endif %}
    <h3>
        <a href="{{score_show}}">{{game.description}}</a>
        <br><small>{{game.manufacturer}}, {{game.year}}</small>
    </h3>
    {% if high_score %}
        <p class="color-three text-center">High Score</p>
        <p class="roboto text-large outlined text-center {{high_score is same as(user_score) ? 'margin-bottom'}}">{{high_score.points|number_format}}</p>
        {% if not high_score is same as(user_score) %}
            <p class="text-center">{{high_score.user.username}}</p>
            {% if user_score %}
                <p class="text-small"><a href="{{score_new}}">Your Score:</a> <span class="color-three">{{user_score.rank is defined ? '#' ~ user_score.rank}}</span> {{user_score.points|number_format}}</p>
            {% elseif is_granted('ROLE_USER') %}
                <p class="text-small"><a href="{{score_new}}">Add score.</a></p>
            {% endif %}
        {% endif %}
    {% else %}
        <p class="justify-self-center">No scores posted.</p>
    {% endif %}
    <p class="text-small absolute bottom right"><a href="{{game_show}}">Game info.</a></p>
</article>