<article class="summary game-summary">
    {% if game.marquee %}
        {% import '_macros/img.responsive.html.twig' as m_img %}
        {% set img_config = {
            'path': asset('/uploads/marquees/'),
            'file': game.marquee,
            'sizes': '(min-width: 74.75rem) 33vw, (min-width: 37.5rem) 50vw, 100vw',
            'classNames': 'marquee'
        } %}

        {{ m_img.responsive(img_config) }}
    {% endif %}

    {% set href = path('score_show', {
        'game_name': game.name,
        'tournament_id': tournament.id
    }) %}
    <a class="summary-details" href="{{href}}">
        <h3 class="outlined">{{game.description}}
            <br><small>{{game.manufacturer}}, {{game.year}}</small>
        </h3>
        {% if not tournament.isUpcoming %}
        <div class="game-summary-scores">
            {% set game_scores = tournament.scores|filter(
                s => s.game is same as(game)
            ) %}
            {% set high_score = game_scores|first %}

            <span class="block">High Score</span>
            <p class="text-large color-white">{{high_score.points|number_format}}<small class="block">{{high_score.user.username}}</small></p>
            {% if is_granted('ROLE_USER') %}
                {% set user_score = game_scores|filter(
                    s => s.user is same as(app.user)
                )|first %}
                    <span class="block">Your Score</span>
                    <p class="color-white">{{ user_score.points|number_format }}</p>
            {% endif %}
        </div>
        {% endif %}
    </a>
</article>