{% extends 'base.html.twig' %}

{% block title %}details for {{game.description}}{% endblock %}

{% block body %}
<header>
    <h1>
        {{game.description}} <br>
        <small>{{game.manufacturer}}, {{game.year}}</small>
    </h1>
</header>
<main>
    <h2 class="page-break">Tournaments</h2>
    <section class="summary-group">
    {% for tournament in game.tournaments %}
        {{
            include('tournament/_summary.html.twig', {
                'tournament': tournament,
                'show_description': false
            })
        }}
    {% else %}
        <p>This game has not been played in a tournament.</p>
    {% endfor %}
    </section>

    <h2 class="page-break">All Time High Scores</h2>
    {% if game.personalBests|length %}
        {{
            include('_leaderboards/individual.html.twig', {
                'scores': game.personalBests,
                'tournament': false,
                'user_score': game.personalBests|filter(s => s.user is same as(app.user))|first
            })
        }}
    {% else %}
        <p>No scores recorded for this game.</p>
    {% endif %}
</main>
{% endblock %}

{% block navigation %}
    {% if is_granted('ROLE_TO') %}
        <a class="nav-item" href="{{ path('game_edit', {'id': game.id}) }}">✏️<span class="nav-item-label">Edit</span></a>
    {% endif %}
{% endblock %}