{% extends 'base.html.twig' %}

{% block title %}details for {{game.description}}{% endblock %}

{% block body %}
<header>
    <h1>
        {{game.description}} <br>
        <small>{{game.manufacturer}}, {{game.year}}</small>
    </h1>
</header>
<main>
    <h2>Has appeared in:</h2>
    {% for tournament in game.tournaments %}
        <p>{{tournament.title}}</p>
    {% else %}
        <p>No tournaments.</p>
    {% endfor %}
</main>
{% endblock %}

{% block navigation %}
    {% if is_granted('ROLE_TO') %}
        <a class="nav-item" href="{{ path('game_edit', {'id': game.id}) }}">✏️<span class="nav-item-label">Edit</span></a>
    {% endif %}
{% endblock %}