<a href="{{ path('tournament_scores', {'id': tournament.id, 'game': game.id}) }}" class="summary summary-game bg-white padding margin">
    <h3>{{ game.description }}<small>{{ game.manufacturer }} {{ game.year }}</small></h3>
    {% set hiscore = tournament.highscore(game) %}
    <p class="font-size-small"><span>Hi-Score: {{hiscore.points|number_format}}</span><span class="float-right">{{hiscore.user.username}}</span></p>
</a>