{% extends 'base.html.twig' %}

{% block title %}Edit Scoring for {{tournament.title}}{% endblock %}

{% block body %}
    <header>
        <h1>Edit Scoring for {{tournament.title}}</h1>
    </header>
    <main>
        <section class="form-section">
            <h2>Cut-Off and No-Show Scoring</h2>
            {{ include('tournament_scoring/_form.html.twig', {'button_label': 'Save'}) }}
        </section>

        {% if tournament_scoring.pointsTable|length %}
        <section class="form-section">
            <h2>Ranked Points Table</h2>
            {{ include('tournament_scoring/_table_form.html.twig', {
                'form': table_form,
                'button_label': 'Save'
            }) }}
        </section>
        {% endif %}

        <section class="form-section">
            <h2>Ranked Points (Comma Separated)</h2>
            {{ include('tournament_scoring/_table_text_form.twig', {
                'form': table_by_text_form,
                'button_label': 'Submit'
            }) }}
        </section>
    </main>
{% endblock %}

{% block navigation %}
    {% if not tournament.upcoming %}
        <a href="#" id="scoring-refresh" class="nav-item">♻️<span class="nav-item-label">Re-Score</span></a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{asset('/js/dist/admin.min.js')}}"></script>
{% endblock %}