{% extends 'base.html.twig' %}

{% block title %}Invitation - {{ draft.tournament.title }}{% endblock %}

{% block body %}
    <header>
        <h1>You are formally invited</h1>
    </header>
    <main>
        {{ include('tournament/_summary.html.twig', { 'tournament': draft.tournament, 'show_description': true }) }}
        {% if is_granted("ROLE_USER") %}
            {% if (draft.hasEntered(app.user)) %}
                {{ include('draft/_decline_invite.html.twig', {'id': draft.id}) }}
            {% else %}
                {{ include('draft/_accept_invite.html.twig', {'id': draft.id}) }}
            {% endif %}
        {% else %}
            <section>
                <p>Please <a href="{{ path('app_login') }}">sign in</a> to enter or withdraw from this tournament.</p>
            </section>
        {% endif %}
    </main>
{% endblock %}