{% extends 'base.html.twig' %}

{% block title %}Invitation - {{ draft.tournament.title }}{% endblock %}

{% block body %}
    <main class="flex-column">
        <h1>You are formally invited to participate in:</h1>
        {{ include('tournament/summary.html.twig', { 'tournament': draft.tournament }) }}
        {% if is_granted("ROLE_USER") %}
            {% if draft.alreadyEntered(app.user) %}
                {{ include('draft/_decline_invite.html.twig', {'id': draft.id}) }}
            {% else %}
                {{ include('draft/_accept_invite.html.twig', {'id': draft.id}) }}
            {% endif %}
        {% else %}
            <section>
                <p>Please <a href="{{ path('app_login') }}">sign in</a> to enter or leave this tournament.</p>
            </section>
        {% endif %}
    </main>
{% endblock %}