{% extends 'base.html.twig' %}

{% block title %}Draft Entries for {{ draft.tournament.title }}{% endblock %}

{% block body %}
    <header>
        <h1>Draft for {{ draft.tournament.title }}</h1>
    </header>
    <main>
        {% include('draft/_token_form.html.twig') %}
        {% if draft.tournament.format == 'TEAM' %}
        <table>
            <h2>(<span id="entry-count">{{ draft.draftEntries|length }}</span>) Entries:</h2>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Entered on</th>
                </tr>
            </thead>
            <tbody>
            {% for entry in draft.draftEntries %}
                {% set href = path('profile_show', {
                    'username': entry.user
                }) %}
                <tr>
                    <td><a href="{{href}}">{{entry.user}}</a></td>
                    <td>{{ entry.createdAt|date('Y-m-d @ G:i') }}</td>
                    {% if is_granted('ROLE_TO') %}
                        <td><a href="#" class="color-danger remove-draft-entry" data-id="{{entry.id}}" data-token="{{ csrf_token('delete' ~ entry.id)|e('html_attr') }}">Remove</a></td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No entries.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2>Players ({{draft.tournament.users.count}}):</h2>
        <ul>
            {% for player in draft.tournament.users %}
                {% set href = path('profile_show', {
                    'username': player.username
                }) %}
                <li><a href="{{href}}">{{player.username}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('/js/dist/admin.min.js')}}"></script>
{% endblock %}