{% extends 'base.html.twig' %}

{% block title %}Sign-Ups for {{ draft.tournament.title }}{% endblock %}

{% block body %}
    <header>
        <h1>Sign-Ups for {{ draft.tournament.title }}</h1>
    </header>
    <main>
        {% if is_granted('ROLE_TO') %}
            {% include('draft/_token_form.html.twig') %}
        {% endif %}
        <table>
            <h2>(<span id="entry-count">{{ draft.tournament.users|length }}</span>) Entries:</h2>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Entered on</th>
                </tr>
            </thead>
            <tbody>
            {% for user in draft.tournament.users|sort((a,b) => b.createdAt <=> a.createdAt) %}
                {% set href = path('profile_show', {
                    'username': user
                }) %}
                <tr>
                    <td><a href="{{href}}">{{user}}</a></td>
                    <td>{{ user.createdAt|date('Y-m-d @ G:i') }}</td>
                    {% if is_granted('ROLE_TO') %}
                        <td><a href="#" class="color-danger remove-draft-entry" data-id="{{user.id}}" data-token="{{ csrf_token('delete' ~ user.id)|e('html_attr') }}">Remove</a></td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No entries.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}

{% block javascripts %}
{% if is_granted('ROLE_TO') %}
    {{ encore_entry_script_tags('admin') }}
{% endif %}
{% endblock %}