{% extends 'base.html.twig' %}

{% block title %}Draft Entries for {{ draft.tournament.title }}{% endblock %}

{% block body %}
    <h1>Draft Entries for {{ draft.tournament.title }}</h1>
    <article class="summary bg-white flex-column margin">
        <h2 class="bg-primary padding">({{ draft.draftEntries|length }}) Entries:</h2>
        <ul class="list-style-none">
            {% for entry in draft.draftEntries %}
                <li>
                    <small>({{ entry.createdAt|date('Y-m-d @ G:i') }})</small>
                    <a href="{{path('user_show', {'id':entry.user.id})}}">{{entry.user.username}}</a>
                </li>
            {% else %}
                <li>No entries.</li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}