{% extends 'base.html.twig' %}

{% block title %}Community Leaderboard for {{game.description}}{% endblock %}

{% block body %}
    <header>
        <h1>Community Leaderboard for {{game.description}}</h1>

        {% if game.rules %}
        <section class="header-list">
            <h2>Rules:</h2>
            <p>{{game.rules|e}}</p>
        </section>
    {% endif %}
    </header>
    <main>
    {% set user_score = personal_bests|filter(s => s.user is same as(app.user))|first %}
    {% if personal_bests|length %}
        {{
            include('_leaderboards/individual.html.twig', {
                'scores': personal_bests,
                'tournament': false,
                'user_score': user_score
            })
        }}
    {% else %}
        <p>No scores have been posted for this game</p>
    {% endif %}
    </main>
{% endblock %}

{% block navigation %}
    {% set href = path('pb_new', {
        'game': game.name
    }) %}
    {% set action = user_score ? 'Edit' : 'Add' %}
    <a class="nav-item" href="{{href}}">✏️<span class="nav-item-label">{{action}} PB</span></a>
{% endblock %}
