{{ form_start(form) }}
    {{form_errors(form)}}

    {{form_widget(form.title)}}
    <section>
        {{form_widget(form.start_date)}}
        {{form_widget(form.end_date)}}
    </section>

    {{form_widget(form.description)}}

    {{form_widget(form.games)}}

    <section
        id="teams"
        data-ajax-url="{{path('user_search')}}">
        <ul id="teams-collection"
            data-prototype="{{form_widget(form.teams.vars.prototype)|e}}">
            {% for team in form.teams %}
                {{ form_widget(team) }}
                <button class="add-team-member-button" type="button" data-collection="{{team.vars.id ~ '_members'}}">Add Member</button>
            {% endfor %}
        </ul>
    </section>
    <button>{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script src="{{ asset('/js/tournament-admin.js') }}"></script>