<article class="tournament-summary">
    <h3 class="text-large">
        <a href="{{ path( 'tournament_show', {'id': tournament.id} ) }}">{{ tournament.title|title }}</a>

        <br>

        <time class="text-small">{{ tournament.startDate|date('F jS, Y') }} &mdash; {{tournament.endDate|date_modify('-1 minute')|date('F jS, Y')}}</time>
    </h3>
    {% if show_description is not defined or show_description == true %}
        <div>{{ tournament.description|raw }}</div>
    {% endif %}
</article>