{% extends 'base.html.twig' %}

{% block title %}Edit Tournament{% endblock %}

{% block body %}
    <header class="tournament-header">
        <h1 class="tournament-title">Edit Tournament</h1>
        {% if tournament.format == 'TEAM' %}
        <section class="header-list">
            <h2>Teams</h2>
            {% for team in tournament.teams %}
                <p>{{team.name}} <a href="{{path('team_edit', {'id': team.id})}}">✏️</a></p>
            {% endfor %}
            <p>➕ <a href="{{path('team_new', {'tournament': tournament.id})}}">New Team</a></p>
        </section>
        {% endif %}
    </header>
    <main>
        <section class="form-section">
            <h2>Title and Details</h2>
            {{ include('tournament/_form.html.twig', {'button_label': 'Save'}) }}
        </section>

        <section class="form-section">
            <h2>Games</h2>
            {{ include('tournament/_games_form.html.twig', { 'form': games_form }) }}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('/js/dist/admin.min.js')}}"></script>
{% endblock %}
