{% extends 'base.html.twig' %}

{% block title %}Tournament index{% endblock %}

{% block body %}
    <h1>Tournament index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.id }}</td>
                <td>{{ tournament.title }}</td>
                <td>{{ tournament.description }}</td>
                <td>
                    <a href="{{ path('tournament_show', {'id': tournament.id}) }}">show</a>
                    <a href="{{ path('tournament_edit', {'id': tournament.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tournament_new') }}">Create new</a>
{% endblock %}
