{% extends 'base.html.twig' %}

{% set now = date('now') %}
{% set in_progress_tournaments = tournaments|filter(
    t => t.startDate < now and t.endDate > now
) %}

{% set upcoming_tournaments = tournaments|filter(
    t => t.startDate > now
) %}

{% set past_tournaments = tournaments|filter(
    t => t.endDate < now
) %}

{% block body %}
    <header>
        <h1>{{ website.name }}</h1>
        <p class="text-small">{{ website.description }}, and individual <a href="{{path('pb_index')}}">leaderboards</a>.</p>
    </header>
    <main>
        {% if in_progress_tournaments %}
            <section class="tournament-group">
                <h2 class="color-gray outlined">Happening now:</h2>
                {% for tournament in in_progress_tournaments|reverse %}
                    {{ include('tournament/_summary.html.twig', { 'tournament': tournament }) }}
                {% endfor %}
            </section>
        {% endif %}

        {% if upcoming_tournaments %}
            <section class="tournament-group">
                <h2 class="color-gray outlined">Upcoming:</h2>
                {% for tournament in upcoming_tournaments|reverse %}
                    {{ include('tournament/_summary.html.twig', { 'tournament': tournament }) }}
                {% endfor %}
            </section>
        {% endif %}

        {% if past_tournaments %}
            <section class="tournament-group">
                <h2 class="color-gray outlined">Past Tournaments:</h2>
                {% for tournament in past_tournaments %}
                    {{ include('tournament/_summary.html.twig', { 'tournament': tournament }) }}
                {% endfor %}
            </section>
        {% endif %}
    </main>
{% endblock %}
