{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }} Team Leaderboard{% endblock %}

{% block body %}
    <main>
        <h1>
            <span class="block padding bg-accent">{{ tournament.title }}</span>
            <span class="block padding bg-accent">Team Leaderboard</span>
        </h1>
        {% if not tournament.hasScores %}
            <p class="bg-white margin padding">No scores posted.</p>
        {% else %}
            <table class="leaderboard leaderboard-game margin-y">
                <tr>
                    <th class="row-rank">Rank</th>
                    <th class="align-right row-score">Score</th>
                    <th class="row-team">Team</th>
                </tr>
            {% for score in tournament.scoreTournament('team') %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td class="align-right">{{ score.points|number_format }}</td>
                    <td><a href="{{path('team_show',{'team':score.team.id})}}">{{ score.team.name }}</a></td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    </main>
{% endblock %}
