{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }} Individual Leaderboard{% endblock %}

{% block body %}
    <main>
        <h1>
            <span class="block padding bg-accent"><a class="tournament-title" href="{{path('tournament_show', {'id': tournament.id})}}">{{ tournament.title }}</a></span>
            <span class="block padding bg-accent">Individual Leaderboard</span>
        </h1>
        {% if not scores %}
            <p class="bg-white margin padding">No scores posted.</p>
        {% else %}
            <table class="leaderboard leaderboard-game margin-y">
                <tr>
                    <th class="row-rank">Rank</th>
                    <th class="align-right row-score">Score</th>
                    <th class="row-user">Player</th>
                </tr>
            {% for score in scores %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td class="align-right">{{ score.points|number_format }}</td>
                    <td><a href="{{path('user_show', {'id': score.user.id})}}">{{ score.user.username }}</a></td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    </main>
{% endblock %}
