{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }}{% endblock %}

{% block body %}
    <main>
        <header>
            <details>
                <summary><h1>{{tournament.title}}</h1></summary>
                <div>{{ tournament.description|raw }}</div>
            </details>
            {% if tournament.inProgress %}
                <p>Ends <time>{{tournament.endDate|date_modify('-1 minute')|date('F jS, g:ia')}}</time></p>
            {% endif %}
        </header>

        {% if tournament.inProgress %}
            <section>
                {% include 'tournament/_gadgets/recent.scores.html.twig' %}
                {% include 'tournament/_gadgets/participation.html.twig' %}
                {% include 'tournament/_gadgets/top.team.html.twig' %}
                {% include 'tournament/_gadgets/top.player.html.twig' %}
                {% include 'tournament/_gadgets/live.streams.html.twig' %}
            </section>
        {% endif %}

        <table>
            <h2>Games</h2>
            <tr>
                <th>ROM</th>
                <th>Game</th>
                <th>Developer</th>
                <th>Year</th>
                {% if not tournament.isUpcoming %}
                    <th>High Score</th>
                    {% if is_granted('ROLE_USER') %}
                        <th>Your Score</th>
                    {% endif %}
                {% endif %}
            </tr>
            {% for game in tournament.games %}
                {% set highscore = tournament.highscore(game) %}
                <tr>
                    <td>
                        <a href="{{ path('tournament_scores', {'id': tournament.id, 'game': game.id}) }}">
                            {{ game.name ~ '.zip' }}
                        </a>
                    </td>
                    <td>{{ game.description }}</td>
                    <td>{{ game.manufacturer }}</td>
                    <td>{{ game.year }}</td>
                    {% if not tournament.isUpcoming %}
                        <td>{{highscore.user.username}} {{highscore.points|number_format}}</td>
                        {% if is_granted('ROLE_USER') %}
                            {% set yourscore = app.user.getscore(tournament, game) %}
                                <td>{{ yourscore.points|number_format }}</td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% else %}
                <tr><td>No games selected.</td></tr>
            {% endfor %}
        </table>

        <table>
            <thead>
                <h2>Teams</h2>
                <tr>
                    <th>Team Name</th>
                    {% if not tournament.isUpcoming %}
                        <th>Points</th>
                        <th>Average Rank</th>
                        <th>Participation Rate</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for team in tournament.teams %}
                <tr>
                    <td><a href="{{path('team_show', {'team': team.id})}}">{{team}}</a></td>
                    {% if not tournament.isUpcoming %}
                        <td>{{ team.points|number_format }}</td>
                        <td>{{ team.averageRank|number_format(2) }}</td>
                        <td>{{ team.participationRate|number_format(4) * 100 ~ "%" }}
                    {% endif %}
                </tr>
            {% else %}
                <td>No teams registered.</td>
            {% endfor %}
            </tbody>
        </table>
        </section>
    </main>
{% endblock %}
