{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }}{% endblock %}

{% block body %}
    <main>
        <header class="bg-white tournament-header">
            <h1 class="bg-accent padding-y">{{tournament.title}}</h1>
            <section class="flex-row space-between">
                <div>
                {{ tournament.description|raw }}
                </div>
                <div class="tournament-details font-size-small">
                    <p>Start: {{tournament.startDate|date('F j, Y')}}</p>
                    <p>End: {{tournament.endDate|date('F j, Y')}}</p>
                </div>
            </section>
            {% if tournament.winner %}
            <section>
                <p>
                    <span>Winning Team: {{ tournament.winner.name }} ({{ tournament.winner.points|number_format }} points)</span>
                    <a class="float-right" href="">Team Leaderboard</a></p>
            </section>
            {% endif %}
            {% if topscorer %}
                <p>
                    <span>Top Scorer: {{ topscorer.name }} ({{ topscorer.points|number_format }} points)</span>
                    <a class="float-right" href="">Individual Leaderboard</a></p>
                </p>
            {% endif %}
            </section>
        </header>

        <section class="flex-row flex-wrap justify-center">
            {% for game in tournament.games %}
                {{ include('game/summary.html.twig', {'game': game}) }}
            {% else %}
                <p>No games selected</p>
            {% endfor %}
        </section>
    </main>
{% endblock %}
