{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }}{% endblock %}

{% block body %}
    <main>
        <header class="bg-white tournament-header">
            <h1 class="bg-accent padding-y">{{tournament.title}}</h1>
            <section class="flex-row space-between">
                <div>
                {{ tournament.description|raw }}
                </div>
                <div class="tournament-details font-size-small">
                    <p>Start: {{tournament.startDate|date('F jS, Y @ g:Ha')}}</p>
                    <p>End: {{tournament.endDate|date('F jS, Y @ g:Ha')}}</p>
                </div>
            </section>
            <section>
            {% for name,points in tournament.winningTeam %}
                {% set label = tournament.inProgress ? 'Leading' : 'Winning' %}
                <p>
                <span>{{ label }} Team: {{ name }} ({{ points|number_format }} points)</span>
                <a class="float-right" href="{{ path('leaderboard_team', {'tournament': tournament.id}) }}">Team Leaderboard</a>
                </p>
            {% endfor %}
            </section>
            {% if tournament.topscorer %}
                <p>
                    <span>Top Scorer: {{ tournament.topscorer.user.username }} ({{ tournament.topscorer.points|number_format }} points)</span>
                    <a class="float-right" href="{{path('leaderboard_individual',{'tournament':tournament.id})}}">Individual Leaderboard</a></p>
                </p>
            {% endif %}
            </section>
        </header>

        <section class="flex-row flex-wrap justify-center">
            {% for game in tournament.games %}
                {{ include('game/summary.html.twig', {'game': game}) }}
            {% else %}
                <p>No games selected</p>
            {% endfor %}
        </section>
    </main>
{% endblock %}
