{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }}{% endblock %}

{% block body %}
    <main>
        <header class="margin-y">
            <details>
                <summary><h1 class="bg-accent padding-y">{{tournament.title}}</h1></summary>
                <div>{{ tournament.description|raw }}</div>
                <time>Start: {{tournament.startDate|date('F jS, Y @ g:ia')}} End: {{tournament.endDate|date_modify('-1 minute')|date('F jS, Y @ g:ia')}}</time>
            </details>
        </header>

        <section class="flex">
            <h2>Games</h2>
            {% for game in tournament.games %}
                {{ include('game/_summary.html.twig', {'game': game}) }}
            {% else %}
                <p>No games selected</p>
            {% endfor %}
        </section>

        {% if tournament.inProgress and streams %}
            {{ include('partials/twitch.html.twig', {'streams': streams}) }}
        {% endif %}

        <h2 class="margin-y">Teams</h2>
        <section class="flex-row flex-wrap justify-center">
            {% for team in tournament.teams %}
                {{ include('team/summary.html.twig', {'team': team}) }}
            {% else %}
                <p>No teams registered.</p>
            {% endfor %}
        </section>
    </main>
{% endblock %}
