{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }}{% endblock %}

{% block body %}
    <main>
        <header>
            <details>
                <summary><h1>{{tournament.title}}</h1></summary>
                <div>{{ tournament.description|raw }}</div>
            </details>
            {% if tournament.inProgress %}
                <p>Ends <time>{{tournament.endDate|date_modify('-1 minute')|date('F jS, g:ia')}}</time></p>
            {% endif %}
        </header>

        {% if tournament.inProgress %}
            <section class="gadget-group">
                {% include '_gadgets/recent.scores.html.twig' %}
                {% include '_gadgets/participation.html.twig' %}
                {% include '_gadgets/top.team.html.twig' %}
                {% include '_gadgets/top.player.html.twig' %}
                {% include '_gadgets/live.streams.html.twig' %}
            </section>
        {% endif %}

        <section class="summary-group">
        {% for game in tournament.games %}
            {% include 'game/_summary.html.twig' %}
        {% endfor %}
        </section>

        <table>
            <thead>
                <h2>Teams</h2>
                <tr>
                    <th>Team Name</th>
                    {% if not tournament.isUpcoming %}
                        <th>Points</th>
                        <th>Average Rank</th>
                        <th>Participation Rate</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for team in tournament.teams %}
                <tr>
                    <td><a href="{{path('team_show', {'team': team.id})}}">{{team}}</a></td>
                    {% if not tournament.isUpcoming %}
                        <td>{{ team.points|number_format }}</td>
                        <td>{{ team.averageRank|number_format(2) }}</td>
                        <td>{{ team.participationRate|number_format(4) * 100 ~ "%" }}
                    {% endif %}
                </tr>
            {% else %}
                <td>No teams registered.</td>
            {% endfor %}
            </tbody>
        </table>
        </section>
    </main>
{% endblock %}
