{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }}{% endblock %}

{% block body %}
    <main>
    <h1>{{tournament.title}}</h1>
    {{ tournament.description|raw }}

    <h2>Teams</h2>
    <section>
        {% for team in tournament.teams %}
        {% else %}
            <p>No teams registered</p>
        {% endfor %}
    </section>

    <h2>Games</h2>
    <section>
        {% for game in tournament.games %}
            {{ include('game/summary.html.twig', {'game': game}) }}
        {% else %}
            <p>No games selected</p>
        {% endfor %}
    </section>

    {% if is_granted('ROLE_ADMIN') %}
    <aside>
        <p><a href="{{ path('tournament_edit', {'id': tournament.id}) }}">edit</a></p>

        {{ include('tournament/_delete_form.html.twig') }}
    </aside>
    {% endif %}
    </main>
{% endblock %}
