{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }}{% endblock %}

{% block body %}
    <header class="tournament-header">
        <section class="tournament-title">
            <h1>{{tournament.title}}</h1>

            {% if not tournament.ended %}
                <time class="block text-small">
                {% if tournament.upcoming %}
                    starts {{ tournament.startDate|date('F jS, g:ia') }}
                {% else %}
                    ends {{ tournament.endDate|date_modify('-1 minute')|date('F jS, g:ia') }}
                {% endif %}
                </time>
            {% endif %}
        </section>

        {% if tournament.teams %}
            <section class="tournament-team-list">
                <h2>Featuring:</h2>
                {% for team in tournament.teams %}
                    {% set href = path('team_show', {
                        'id': team.id
                    }) %}
                    <p><a href="{{href}}">{{team.name}}</a></p>
                {% endfor %}
            </section>
        {% endif %}
    </header>
    <main>
        {% if tournament.inProgress %}
            <section class="gadget-group">
                {% include '_gadgets/recent.scores.html.twig' %}
                {% include '_gadgets/participation.html.twig' %}
                {% include '_gadgets/top.player.html.twig' %}
                {% include '_gadgets/top.team.html.twig' %}
                {% include '_gadgets/live.streams.html.twig' %}
            </section>
        {% endif %}

        <section class="summary-group">
        {% for game in tournament.games %}
            {% include 'game/_summary.html.twig' %}
        {% endfor %}
        </section>
    </main>
{% endblock %}

{% block navigation %}
    {% if is_granted('ROLE_TO') and not tournament.ended %}
        <div class="nav-item has-sub-items">
            {% set href = path('tournament_edit', {
                'id': tournament.id
            }) %}
             <a href="{{href}}">✏️<span class="nav-item-label">Edit</span></a>
             <div class="sub-navigation">
                <a href="{{href}}" class="nav-item">Tournament</a>
                {% set href = path('scoring_edit', {
                    'tournament': tournament.id
                }) %}
                <a href="{{href}}" class="nav-item">Scoring</a>
             </div>
        </div>
    {% endif %}
{% endblock %}