{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }}{% endblock %}

{% block body %}
<header>
    <h1>
        {{tournament.title}}
        {% if not tournament.ended %}
        <br>
        <time class="block text-small">
        {% if tournament.upcoming %}
            starts {{ tournament.startDate|date('F jS, g:ia') }}
        {% else %}
            ends {{ tournament.endDate|date_modify('-1 minute')|date('F jS, g:ia') }}
        {% endif %}
        </time>
    {% endif %}
    </h1>

    {% if tournament.teams|length %}
        <section class="header-list">
            <h2>Featuring:</h2>
            {% for team in tournament.teams %}
                {% set href = path('team_show', {
                    'id': team.id
                }) %}
                <p><a href="{{href}}">{{team.name}}</a></p>
            {% endfor %}
        </section>
    {% endif %}

    {% if not tournament.upcoming %}
        <section class="header-list">
            <h2>View Leaderboards</h2>
            <p><a href="{{path('team_leaderboard', {'id': tournament.id})}}">Team</a></p>
            <p><a href="{{path('individual_leaderboard', {'id': tournament.id})}}">Individual</a></p>
        </section>
    {% endif %}

    {% if tournament.inProgress and live_streams|length %}
        {{
            include('_gadgets/live.streams.html.twig', {
                'streams': live_streams
            })
        }}
    {% endif %}
</header>
    <main>
        <section class="gadget-group">
            {% if tournament.inProgress %}
                {{
                    include('_gadgets/recent.scores.html.twig', {
                        'scores': recent_scores
                    })
                }}
            {% endif %}
            {% if not tournament.upcoming %}
                {{
                    include('_gadgets/top.html.twig', {
                        'type': 'team',
                        'result': top_team
                    })
                }}

                {{
                    include('_gadgets/top.html.twig', {
                        'type': 'player',
                        'result': top_player
                    })
                }}

                {{
                    include('_gadgets/participation.html.twig', {
                        'rate': 0
                    })
                }}
            {% endif %}
        </section>

        <h2 class="uppercase page-break outlined">Games</h2>
        <section class="summary-group">
        {% for game in tournament.games %}
            {{ include('game/_summary.html.twig', {
                'game': game,
                'tournament': tournament,
                'scores': tournament.scores|filter(s => s.game is same as(game))
            })}}
        {% endfor %}
        </section>
    </main>
{% endblock %}

{% block navigation %}
    {% if is_granted('ROLE_TO') %}
        <div class="nav-item has-sub-items">
            {% set href = path('tournament_edit', {
                'id': tournament.id
            }) %}
             <a href="{{href}}">✏️<span class="nav-item-label">Edit</span></a>
             <div class="sub-navigation">
                 {% if not tournament.ended %}
                    <a href="{{href}}" class="nav-item">Tournament</a>
                {% endif %}

                {% set href = path('scoring_edit', {
                    'tournament': tournament.id
                }) %}
                <a href="{{href}}" class="nav-item">Scoring</a>
             </div>
        </div>
    {% endif %}
{% endblock %}