{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }}{% endblock %}

{% block body %}
    <main>
        <header class="bg-white tournament-header">
            <h1 class="bg-accent padding-y">{{tournament.title}}</h1>
            <section class="flex-row space-between">
                <div>
                {{ tournament.description|raw }}
                </div>
                <div class="tournament-details font-size-small">
                    <p>Start: {{tournament.startDate|date('F jS, Y @ g:Ha')}}</p>
                    <p>End: {{tournament.endDate|date('F jS, Y @ g:Ha')}}</p>
                </div>
            </section>

            {% if tournament.hasScores %}
                <section>
                    {% set label = (tournament.inProgress) ? 'Leading' : 'Winning' %}
                    {% set leading = tournament.scoreTournament('team', true) %}
                    <p>
                    <span>{{ label }} Team: {{ leading.team.name }} ({{ leading.points|number_format }} points)</span>
                    <a class="float-right" href="{{ path('leaderboard_team', {'tournament': tournament.id}) }}">Team Leaderboard</a>
                    </p>
                </section>

                <section>
                    {% set leading = tournament.scoreTournament('ind', true) %}
                    <p>
                        <span>Top Scorer: {{ leading.user.username }} ({{ leading.points|number_format }} points)</span>
                        <a class="float-right" href="{{path('leaderboard_individual',{'tournament':tournament.id})}}">Individual Leaderboard</a></p>
                    </p>
                </section>
            {% endif %}
        </header>

        <section class="flex-row flex-wrap justify-center">
            {% for game in tournament.games %}
                {{ include('game/summary.html.twig', {'game': game}) }}
            {% else %}
                <p>No games selected</p>
            {% endfor %}
        </section>
    </main>
{% endblock %}
