{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }}{% endblock %}

{% block body %}
    <main>
        <header class="bg-white tournament-header">
            <h1 class="bg-accent padding-y">{{tournament.title}}</h1>
            {% if is_granted("ROLE_USER") and tournament.hasEntered(app.user) %}
                <p>You are signed up for this tournament ✔️</p>
            {% endif %}
            <section class="flex-row space-between">
                <div>
                {{ tournament.description|raw }}
                </div>
                <div class="tournament-details font-size-small">
                    <p>Start: {{tournament.startDate|date('F jS, Y @ g:ia')}}</p>
                    <p>End: {{tournament.endDate|date_modify('-1 minute')|date('F jS, Y @ g:ia')}}</p>
                </div>
            </section>

            <section>
                {% set label = (tournament.inProgress) ? 'Leading' : 'Winning' %}
                {% set leading = tournament.scoreTournament('team', true) %}
                <p>
                <span>
                {% if tournament.hasScores %}
                {{ label }} Team: {{ leading.team.name }} ({{ leading.points|number_format }} points)
                {% else %}
                    * No leading team.
                {% endif %}
                </span>
                <a class="float-right" href="{{ path('leaderboard_team', {'tournament': tournament.id}) }}">Team Leaderboard</a>
                </p>
            </section>

            <section>
                {% set leading = tournament.scoreTournament('ind', true) %}
                <p>
                    <span>
                    {% if tournament.hasScores %}
                    Top Scorer: {{ leading.user.username }} ({{ leading.points|number_format }} points)
                    {% else %}
                        * No leading individual.
                    {% endif %}
                    </span>
                    <a class="float-right" href="{{path('leaderboard_individual',{'tournament':tournament.id})}}">Individual Leaderboard</a></p>
                </p>
            </section>
        </header>

        {% if tournament.inProgress %}
        <h2 class="bg-white padding margin-top">Latest</h2>
        <section>
            <table class="leaderboard">
                <tr>
                    <th>Date</th>
                    <th>Game</th>
                    <th>Score</th>
                    <th>Player</th>
                </tr>
            {% for score in latestScores %}
                <tr>
                    <td>{{score.dateUpdated|date('M j, g:ia')}}</td>
                    <td><a href="{{path('tournament_scores',{'id':tournament.id,'game':score.game.id})}}">{{score.game.description}}</a></td>
                    <td>{{score.points|number_format}}</td>
                    <td><a href="{{path('user_show',{'id':score.user.id})}}">{{score.user.username}}</td>
                <tr>
            {% endfor %}
            </table>
        </section>
        {% endif %}

        <h2 class="margin-y">Events</h2>
        <section class="flex-row flex-wrap justify-center">
            {% for game in tournament.games %}
                {{ include('game/summary.html.twig', {'game': game}) }}
            {% else %}
                <p>No games selected</p>
            {% endfor %}
        </section>

        <h2 class="margin-y">Teams</h2>
        <section class="flex-row flex-wrap justify-center">
            {% for team in tournament.teams %}
                {{ include('team/summary.html.twig', {'team': team}) }}
            {% else %}
                <p>No teams registered.</p>
            {% endfor %}
        </section>
    </main>
{% endblock %}
