<article class="summary summary-tournament bg-white margin-y padding">
    <time class="bg-accent margin padding float-right">{{ tournament.startDate|date('M jS') }}</time>

    <h3 class="summary-title"><a href="{{ path( 'tournament_show', {'id': tournament.id} ) }}">{{ tournament.title|title }}</a></h3>

    {{ tournament.description|raw }}

    {% if tournament.users|length > 1 %}
    <p class="block bg-primary padding-y">
            {% set details = [
                [tournament.teams|length, tournament.teams|length > 1 ? 'teams' : 'team']|join(' '),

                [tournament.users|length, tournament.users|length > 1 ? 'players' : 'player']|join(' '),

                [tournament.games|length, tournament.games|length > 1 ? 'games' : 'game']|join(' '),
                ]
            %}
            {{ details|join(' - ') }}
    <p>
    {% endif %}
</article>