{{ form_start(form,{
    'attr':{
        'class': 'bg-white padding flex-column'
    }
}) }}
    {% if not form.vars.valid %}
        <ul>
        {% for child in form.children %}
            {% for error in child.vars.errors%}
                <li>{{error.message}}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}

    <div class="flex-row align-items-center">
        {{ form_label(form.points) }}
        {{ form_widget(form.points) }}
    </div>

    <div class="flex-row align-items-center">
        {{ form_label(form.videoUrl) }}
        {{ form_widget(form.videoUrl) }}
    </div>

    <div class="positioned">
    {% if score.screenshot %}
        {{ form_label(form.screenshot)}}
        <div class="upload-preview" data-file-input="score_screenshot">
            <img src="{{'/uploads/screenshots/' ~ score.screenshot.filename}}">
        </div>
        {{ form_widget(form.screenshot,{
            'attr':{
                'hidden': true
            }
        }) }}
    {% else %}
        {{ form_label(form.screenshot) }}
        {{ form_widget(form.screenshot) }}
    {% endif %}
    </div>

    <div class="flex-row align-items-center">
        {{ form_label(form.comment) }}
        {{ form_widget(form.comment) }}
    </div>
    <button class="margin-y">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}