{{ form_start(form) }}
    {{ form_widget(form) }}
    <button>{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block javascripts %}
    <script src="{{asset('/js/dist/forms.min.js')}}"></script>
{% endblock %}