{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }} scores for {{ game.description }}{% endblock %}

{% block navigation %}
    {% if is_granted('ROLE_USER') %}
        {% set href = path('score_new', {
            'game_name': game.name,
            'tournament_id': tournament.id
        }) %}
        <a href="{{href}}" class="nav-item">✏️<span class="nav-item-label">Your Score</span></a>
    {% endif %}
{% endblock %}

{% block body %}
    <main>
        <h1>{{ tournament.title }} scores for {{ game.description }} (<small>{{ game.name ~ '.zip' }}</small>)</h1>
        {% if scores %}
            {% if user_score %}
                {% include '_gadgets/your.score.html.twig' %}
            {% endif %}
            {% include '_leaderboards/team.html.twig' %}
            {% include '_leaderboards/individual.html.twig' %}
        {% else %}
            <p>No scores posted.</p>
        {% endif %}
    </main>
{% endblock %}
