{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }} scores for {{ game.description }}{% endblock %}

{% block body %}
    <header>
        {% set t_href = path('tournament_show', {
            'id': tournament.id
        }) %}
        {% set g_href = path('pb_show', {
            'game': game.name
        }) %}
        <h1><a href="{{t_href}}">{{ tournament.title }}</a><br>
        scores for <a href="{{g_href}}">{{ game.description }}</a> <small>({{ game.name ~ '.zip' }})</small></h1>
    </header>
    <main>
        <section class="gadget-group">
            {% if user_score %}
                {% include '_gadgets/your.score.html.twig' %}
            {% endif %}
        </section>
        {% if scores %}
            {% include '_leaderboards/team.html.twig' %}
            {% include '_leaderboards/individual.html.twig' %}
        {% else %}
            <p>No scores posted.</p>
        {% endif %}
    </main>
{% endblock %}

{% block navigation %}
    {% set href = path('tournament_show', {
        'id': tournament.id
    }) %}
    <a class="nav-item" href="{{href}}">⏮<span class="nav-item-label">Tournament</a>
    {% if not tournament.ended and is_granted('ROLE_USER') %}
        {% set href = path('score_new', {
            'game_name': game.name,
            'tournament_id': tournament.id
        }) %}
        <a href="{{href}}" class="nav-item">🎖<span class="nav-item-label">Your Score</span></a>
    {% endif %}
{% endblock %}
