{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }} scores for {{ game.description }}{% endblock %}

{% block body %}
    <main>
        <h1>{{ tournament.title }} scores for {{ game.description }}</h1>
        {% if scores %}
            <table class="leaderboard leaderboard-game">
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th class="align-right">Score</th>
                    <th class="align-right">Test</th>
                    <th>Record</th>
                </tr>
            {% for score in scores %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ score.user.username }}</td>
                    <td class="align-right">{{ score.points|number_format }}</td>
                    <td class="align-right">{{tournament.scorerank(score)|number_format}}</td>
                    <td><a href="{{ score.proof }}">🗎</a></td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>No scores posted.</p>
        {% endif %}
    </main>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ url('score_new', {game: game.id, tournament: tournament.id}) }}">Add/update your score</a>
    {% endif %}

{% endblock %}
