{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }} scores for {{ game.description }}{% endblock %}

{% block navigation %}
    {% if is_granted('ROLE_USER') %}
            <a class="new-score navbar-item margin-left padding-x rounded shading" href="{{ url('score_new', {game: game.id, tournament: tournament.id}) }}">Add Score</a>
    {% endif %}
{% endblock %}

{% block body %}
    <main>
        <h1>
            <span class="block padding bg-accent"><a class="tournament-title" href="{{path('tournament_show', {'id': tournament.id})}}">{{ tournament.title }}</a></span>
            <span class="block padding bg-accent">scores for {{ game.description }}</span>
        </h1>
        {% if scores %}
            <table class="leaderboard leaderboard-game margin-y">
                <tr>
                    <th class="row-rank">Rank</th>
                    <th class="align-right row-score">Score</th>
                    <th class="row-player">Player</th>
                    <th class="row-team">Team</th>
                    <th class="row-record">Record</th>
                </tr>
            {% for score in scores %}
                <tr title="{{score.comment|e}}">
                    <td>{{ loop.index }}</td>
                    <td class="align-right">{{ score.points|number_format }}</td>
                    <td><a href="{{path('user_show', {'id': score.user.id})}}">{{ score.user.username }}</a></td>
                    <td>{{  score.team.name }}</td>
                    <td>
                        {% if score.screenshot %}
                            <a class="icon" target="_blank" href="{{asset('uploads/screenshots/') ~ score.screenshot.filename}}">📷</a>
                        {% endif %}
                        {% if score.videoUrl %}
                            <a class="icon" target="_blank" href="{{score.videoUrl|e}}">📼</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>No scores posted.</p>
        {% endif %}
    </main>
{% endblock %}
