{% macro diff(interval) %}
    <span class="date-diff">
    {% if interval.days > 1 %}
        {{interval.days ~ (interval.d > 1 ? ' days' : ' day')}}
    {% elseif interval.days == 1 %}
        {{'1 day' ~ (interval.h >= 1 ? ', ' ~ interval.h ~ (interval.h > 1 ? ' hours' : ' hour')  : '')}}
    {% elseif interval.h >= 1 %}
        {{interval.h ~ (interval.h > 1 ? ' hours' : ' hour')}}
    {% elseif interval.i >= 1 %}
        {{interval.i ~ (interval.i > 1 ? ' minutes' : ' minute')}}
    {% elseif interval.s >= 1 %}
        {{interval.s ~ (interval.s > 1 ? ' seconds' : ' second')}}
    {% endif %}
    </span>
{% endmacro %}