{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<header>
     <h1>Dashboard</h1>
     <p>Welcome, {{user.username}}</p>
</header>

<main>
    {% if in_progress_tournaments|length %}
        <h2>Happening now:</h2>
        {% for tournament in in_progress_tournaments %}
            <section class="border-left">
                {% set href = path('tournament_show', {
                    'id': tournament.id
                }) %}
                <h3>
                    <a href="{{href}}">{{tournament.title}}</a>
                    <small>(ends: {{tournament.endDate|date_modify('-1 minute')|date}})</small>
                </h3>
                <section class="summary-group">
                {% for game in tournament.games %}
                    {{ include('game/_summary.html.twig', {
                        'tournament': tournament,
                        'game': game,
                        'high_score': tournament.scores|filter(s => s.game is same as(game))|first,
                        'user_score': user_scores|filter(s => s.game is same as(game))|first
                    }) }}
                {% endfor %}
                </section>
            </section>
        {% endfor %}
    {% endif %}

    {% if upcoming_tournaments|length %}
        <h2>Upcoming:</h2>
        {% for upcoming_tournament in upcoming %}
            <section class="border-left">
                {{ include('tournament/_summary.html.twig', {
                    'tournament': tournament,
                    'show_description': true
                }) }}
            </section>
        {% endfor %}
    {% endif %}
</main>
{% endblock %}
