{% if scores %}
    {% set img_width = 100 %}
    {% set rect_height = img_width / 16 %}
    {% set highest = scores|first %}
    {% set rect_count = scores|length %}
    {% set img_height = rect_height * rect_count %}
    {% set font_size = rect_height * 0.46 %}
    <aside class="gadget gadget-points-breakdown">
        <h3>Points By Game</h3>
        <svg class="gauge" width="{{img_width}}" height="{{img_height}}" viewBox="0 0 {{img_width}} {{img_height}}">
            {% for game in scores %}
                {% set width = game.points / highest.points * 100 %}
                {% set y = loop.index0 * rect_height %}
                {% set y_label = y + rect_height / 2 %}
                <rect
                    class="linear-gauge-rect"
                    width="{{width}}"
                    height="{{rect_height}}"
                    y="{{y}}">
                </rect>
                <text
                    class="linear-gauge-value"
                    font-size="{{font_size}}"
                    x="1"
                    y="{{y_label}}"
                    dy="0.3em">{{game.points|number_format}}
                </text>
                <text
                    class="linear-gauge-label"
                    font-size="{{font_size}}"
                    x="{{img_width - 1}}"
                    y="{{y_label}}"
                    style="text-anchor:end;"
                    dy="0.3em">{{game.description}}
                </text>
            {% endfor %}
        </svg>
        <p class="roboto text-large outlined">Total: {{total|number_format}}</p>
    </aside>
{% endif %}