{% if scores %}
<aside class="gadget recent-scores">
    <h3>Recent Scores</h3>
    {% for score in recent_scores %}
        {% set href = path('score_show', {
            'game_name': score.game.name,
            'tournament_id': score.tournament.id
        }) %}
        {% set u_href = path('profile_show', {
            'username': score.user.username
        }) %}
        <div class="recent-score">
            <span class="recent-score-value roboto color-white outlined flex-basis-2">{{score.points|number_format}}</span>

            <a class="recent-score-value flex-basis-2" href="{{href}}">{{score.game.name}}</a>

            <a class="recent-score-value color-three flex-basis-1" href="{{u_href}}">{{score.user.username}}</a>

            {% set diff = date("now").diff(score.updatedAt, true) %}
            {% set daysHoursMinutes = diff.format('%dd,%hh,%im')|split(',')|filter(d => not d|first|number_format == 0) %}
            <span class="recent-score-value recent-score-ts text-small flex-basis-1">
                {% if not daysHoursMinutes|length %}
                    {{ '<1m ago' }}
                {% else %}
                    {% for interval in daysHoursMinutes %}
                        {% if interval|first|number_format > 0 %}
                            {{interval}}{{(not loop.last) ? ', ' : ' ago'}}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </span>
        </div>
    {% endfor %}
</aside>
{% endif %}