{% if scores %}
<aside class="gadget">
    <h3>Recent Scores</h3>
    {% for score in recent_scores %}
        {% set href = path('score_show', {
            'game_name': score.game.name,
            'tournament_id': score.tournament.id
        }) %}
        <div class="flex flex-space-between">
            <a class="flex-1" href="{{href}}">{{score.game.name}}</a>

            {% set diff = date("now").diff(score.updatedAt, true) %}
            {% set daysHoursMinutes = diff.format('%d days,%hh,%imin')|split(',') %}
            <span class="flex-1 text-right text-small">
                {% for interval in daysHoursMinutes %}
                    {% if interval|first|number_format > 0 %}
                        {{interval}}{{not loop.last ? ', '}}{{ loop.last ? ' ago' }}
                    {% endif %}
                {% endfor %}
            </span>
        </div>
    {% endfor %}
</aside>
{% endif %}