{% extends 'base.html.twig' %}

{% block title %}{{user.username}} player profile{% endblock %}

{% block body %}
    <main>
        <header class="bg-accent padding flex-row">
            <h1 class="padding-y">{{user.username}}</h1>
        </header>

        <section class="margin-y bg-white padding">
        {% if user.tournaments %}
            <h2>Has appeared in:</h2>
            <ul class="list-style-none">
            {% for tournament in user.tournaments %}
                <li>{{tournament.title}}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Has not yet participated in a tournament</p>
        {% endif %}
        </section>

        <section class="margin-y padding">
        {% if user.scores %}
            <h2 class="margin-bottom">Recent high scores:</h2>
            <table class="leaderboard">
                <tr>
                    <th>Score</th>
                    <th>Game</th>
                    <th>Date</th>
                    <th>Record</th>
                </tr>
            {% for score in user.scores %}
                <tr>
                    <td>{{score.points}}</td>
                    <td>{{score.game.description}}</td>
                    <td>{{score.dateUpdated|date('M j, Y')}}</td>
                    <td><a href="{{score.videoUrl}}">📄</a></td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
        </section>
    </main>
{% endblock %}
