{% extends 'base.html.twig' %}

{% block title %}{{user.username}} player profile{% endblock %}

{% block body %}
    <main>
        <header class="bg-accent padding flex-row">
            <h1 class="padding-y">{{user.username}}</h1>
            <p class="push-right">Member since {{user.createdAt|date('M j, Y')}}</p>
        </header>

        <section class="margin-y bg-white padding">
        {% if user.tournaments %}
            <h2>Has appeared in:</h2>
            <ul class="list-style-none">
            {% for tournament in user.tournaments %}
                <li><a href="{{path('tournament_show', {'id': tournament.id})}}">{{ tournament.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Has not yet participated in a tournament</p>
        {% endif %}
        </section>
        <section class="margin-y padding">
        {% if scores %}
            <h2 class="margin-bottom">Recent high scores:</h2>
            <table class="leaderboard">
                <tr>
                    <th>Game</th>
                    <th>Score</th>
                    <th>Rank</th>
                    <th>Date</th>
                </tr>
            {% for score in scores %}
                <tr>
                    <td><a href="{{path('tournament_scores', {'id':score.tournament.id,'game':score.game.id})}}">{{score.game.description}}</a></td>
                    <td>{{score.points|number_format}}</td>
                    <td>{{score.rank}} of {{score.tournament.users.count}}</td>
                    <td>{{score.updatedAt|date('M j, Y')}}</td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
        </section>
    </main>
{% endblock %}
